@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
--black:#000;
--dark:#212121;
--gray4:#333333;
--gray3:#3c3c3c;
--gray2:#666666;
--gray1:#a6a6a6;
--gray0:#c8c8c8;
--white:#ffffff;
}

body{
margin: 0;
padding: 0;
}

.head{
display: flex;
padding: 60px 10px;
background-color: var(--gray3);
align-items: center;
justify-content: center;
transition: 0.5s;
}

.head:hover{
    transform: scale(1.01); 

}

.tittle{
color: var(--gray0);
font-size: 80px;
margin: 0;
padding: 0;

}

.barra{
padding: 20px 40px;
background-color: var(--gray1);
justify-content: center;
align-items: center;
display: flex;
gap: 2.5rem;

}

.btn{
    color: var(--white);
    background-color: var(--gray1);
border-radius: 20px;
border: none;
padding: 10px 40px;
margin-bottom: -20px;
margin-top: -20px;
padding-top: 20px;
padding-bottom: 20px;
transition: 1s;
font-family: 'Alegreya', sans-serif;
font-weight: 500;
font-size: 17px;
}

.btn:hover{
    padding: 20px 75px;

}

    .row-1{
        position: relative;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        transition: 0.5s;
        border-radius: 15px;


    }

    .row-1:hover{
        filter: brightness(65%); 
        border-radius: 55px;
        transform: scale(1.08); 
    }



    .photos4{
        font-family: 'Alegreya', sans-serif;
        padding: 1px 1px;
        background-color: #66666649;
        position: sticky;
        top: 390; /* Fica fixo no topo quando atingir esse ponto */
        width: 100%;
        margin: 0;
        padding: 0;
        position:absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    .texto1 {
        padding: 5px 15px;
        background-color: var(--gray1);
        top: -47px;
        position: absolute;
        color: #ffffff;
        font-size: 20px;
        margin-left: -1225px;
    }

    .texto2 {
        padding: 5px 15px;
        background-color: var(--gray1);
        top: -47px;
        position: absolute;
        color: #ffffff;
        font-size: 20px;
        margin-left: -400px;
    }

    .texto3 {
        padding: 5px 15px;
        background-color: var(--gray1);
        top: -47px;
        position: absolute;
        color: #ffffff;
        font-size: 20px;
        margin-left: 400px;
    }

    .texto4 {
        padding: 5px 15px;
        background-color: var(--gray1);
        top: -47px;
        position: absolute;
        color: #ffffff;
        font-size: 20px;
        margin-left: 1225px;
    }

    .meio-bglho{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 90px;
        background-color: var(--gray0);
        font-family: 'Alegreya', sans-serif;
        padding: 1px 1px;
        top: 1000; /* Fica fixo no topo quando atingir esse ponto */
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position:absolute;
        margin-top: 60px;

}

    .text-sob{
display: flex;
justify-content: start;
align-items: center;
margin-top: 100;
margin-bottom: 133px;
position: absolute;
font-size: 50px;
width: 100%;
height: auto;
padding: 10px 90px;
color: var(--white);
background-color: var(--gray0);opacity: 0.5;;
padding-bottom: 300px;
padding-top: 50px;
margin-left: 250px;
padding-left: 200px;
}

    .p-sob{

display: flex;
justify-content: start;
align-items: center;
margin-top: 50px;
color: #ffffff;
padding: 40px 90px;
padding-top: 0;
width: 100%;
position: absolute;
font-size: 22px;
margin-left: 250px;
padding-left: 200px;
    }


.footeer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 190px;
    color: var(--white);
    background-color: var(--gray3);
    font-family: 'Alegreya', sans-serif;
    top: 1500; /* Fica fixo no topo quando atingir esse ponto */
    width: 100%;
    height: auto;
    margin: 0;
    position:absolute;
    margin-top: 60px;    
 
}    

.imagem-clicavel {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1375px;
    color: var(--black);
    background-color: var(--gray0); opacity: 0.5;
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
    position:absolute;
  }
  
  .imagem-clicavel img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease; /* Adiciona suavização no hover */
  }
  
  .imagem-clicavel:hover img {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  }
  
  .imagem-clicavel a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Remove o sublinhado do link */
  }